[pyrogram]
api_id = 21104628
api_hash = 45261b9ce50786fc8ab1a8b45494f577
app_version = 1.0
device_model = PC
system_version = Windows

[plugins]
root = streamer/telegram/plugins

[bot-configuration]
bot_token = 8363849977:AAF00Fv0TkNoPG-F9ORpk2DloAVe3e2x94k
session = StreamerBot
allowed_users = [5326642169]

[database]
db_host = cluster0.xsd21.mongodb.net
db_username = arshitraj
db_password = rajarshit15
db_name = StreamerBot
db_type = Mongo_Atlas (or Mongo_Community)
